{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
  <div class="subheader">
    <div class="subheader-container w-container">
      <h1 class="subheader-heading">{{ .Title}} </h1>
      <p class="text-emp"><em>{{ .Params.bref | safeHTML }}.</em></p>
    </div>
  </div>
  <div id="main" class="content-main">
    <div class="container-content-20px w-container {{ .File.ContentBaseName }}">
    {{ partial "toc" .}}
    {{ .Content}}
<!-- Inject script tag in this template  -->
    {{if .Params.script}}
     {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
    {{ partial (string $script) .}}
    {{end }}
    </div>
  </div>
{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
