<footer class="footer">
  <div class="footer-container w-container"><img src="{{ "/images/INNOQ_Logo.svg" }}" alt="INNOQ Logo" class="footer-logo">
    <h4 class="footer-heading">Wir geben Technologien einen Sinn.<br>Und Ihren Ideen eine Zukunft.</h4>
    <p class="footer-text">Wir beraten ehrlich, denken innovativ und entwickeln leidenschaftlich gern. Das Ergebnis sind erfolgreiche Softwarelösungen, Infrastrukturen und Geschäftsmodelle.
      <br />
      <br />
      <a href="https://www.innoq.com/?pk_campaign=kube-platform&amp;pk_source=kube-platform-lp" target="_blank" class="link-footer">Besuchen Sie unsere Website</a>
      <br />
      <a href="https://www.innoq.com/datenschutz/?pk_campaign=kube-platform&amp;pk_source=kube-platform-lp" target="_blank" class="link-footer">Datenschutzhinweise</a>
    </p>
  </div>
</footer>
