{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div class="subheader">
  <div class="subheader-container w-container">
    <h1 class="subheader-heading">{{ .Title}} </h1>
    <p class="text-emp"><em>The following components are installed when leveraging KubePlatform.</em></p>
  </div>
</div>
<div class="content-components">
  <div class="w-container">
    <div class="w-layout-grid grid-components">
      {{ range (.Paginator 10).Pages.ByWeight }} {{ partial "components-summary" . }} {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}