{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <img alt="{{ .Site.Title }}" src="/img/kube-platform_logo.png">
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="https://github.com/kube-platform/base/releases" target="_blank" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Download</a> <a class="button outline big" href="{{.Site.Params.githubOrgPage}}" target="_blank" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">View on Github</a>
    <p>Zip-archive, includes the base files to use with kustomize</p>
  </div>

  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Ready to use</h4>
        <p>KubePlatform is ready to be installed on <mark>GKE</mark>.</p>
      </div>
      <div class="col col-4 item">
        <h4>Customizable</h4>
        <p>Create an own overlay with our <mark>kustomize</mark> base.</p>
      </div>
      <div class="col col-4 item">
        <h4>License</h4>
        <p>KubePlatform is licensed under the <mark><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a></mark>.<br>
      it is free for personal and commercial use.</p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}

